.addFormSection{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.addFormInnerSection{
    width: 97%;
    height: 90%;
}
.addFormInputSection{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}
.addFormInputFirstSection{
    width: 50%;
}
.addFormInputSecondSection{
    width: 50%;
}
.addFormInputThirdSection{
    width: 100%;
}
.addFormInputThirdSection select{
    width: 100%;
}
.addFormInputThirdSection label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #6c757d;
}
.addFormInputThirdSection label::before{
    content: "*";
    color: red;
    margin-right: 2px;
}
.addFormInputSection div label{
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: #6c757d;
}
.addFormInputSection div label::before{
    content: "*";
    color: red;
    margin-right: 2px;
}
.addFormInnerSection div input,.addFormInnerSection div select{
    display: block;
    margin: 10px 0px;
    width: -webkit-fill-available;
    padding: 10px 14px;
    border-radius: 0.4rem;
    border: 1px solid rgb(75 136 197 / 50%);
}
.addFormInnerSection div input{
    height: 17px;
}
.addFormInputSection div select{
    width: 100%;
}
.addFormInnerSection div input:focus,.addFormInnerSection div select:focus{
    outline: none;
    box-shadow: 2px 2px 4px rgba(75, 136, 197, 0.5);
}
.addFormInputSecondSection select{
    width: 100% !important;
}
.addModalBtnSection{
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: end;
    align-items: center;
}
.addModalBtn{
    color: #fff;
    background-color: rgb(72 131 191 / 90%);
    padding: 10px;
    border: none;
    border-radius: 0.2rem;
    font-size: 14px;
    margin-top: 10px;
    cursor: pointer;
}
.addModalBtn:hover{
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    background-color: rgb(72 131 191 / 100%);
}
.addTitle{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.addTitle p{
    color: #6c757d;
}
.errorBorder{
    border: 1px solid red !important;
}
.errorBorder:focus{
    outline: 1px solid red;
}
.errorMsg{
    font-size: 14px;
    margin-bottom: 15px;
    color: red;
}