.addSection {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
.addInnerSection {
  width: 97%;
  height: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addInnerSection p{
  font-size: 20px;
}
.addBtn {
  color: #fff;
  background-color: rgb(72 131 191 / 90%);
  padding: 10px;
  border: none;
  border-radius: 0.2rem;
  font-size: 14px;
  cursor: pointer;
}
.addBtn:hover{
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  background-color: rgb(72 131 191 / 100%);
}
